a.navbar-brand {
    color: #198754;
    font-family: 'Quintessential', cursive;

}

a.navbar-brand:hover {
    color: white;
}

button {

    font-family: 'Quintessential', cursive;

}

 

tr {

    font-family: 'Dongle', sans-serif;

}

 

.navbar {

    background-color: #414141;

    /* other option  */

    /* bg-primary bg-gradient  */

}

.add-customer {
    font-family: 'Quintessential', cursive;
}