a.navbar-brand {

    font-family: 'Quintessential', cursive;

}

 

button {

    font-family: 'Quintessential', cursive;

}

 

tr {

    font-family: 'Dongle', sans-serif;

}

 

.navbar {

    background-color: #5233FF;

    /* other option  */

    /* bg-primary bg-gradient  */

}

.add-customer {
    font-family: 'Quintessential', cursive;
}